<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I have a diverse academic and professional background that spans geochemistry, data science, and quantitative finance. I am driven by a deep intellectual curiosity and a commitment to bridging disciplines to solve complex, real-world problems.
            </p>
            <p class="paragraph-text justify-text">
                My interests lie at the intersection of scientific inquiry and quantitative modeling. I take particular pride in being able to move fluidly between different fields, leveraging tools from programming, statistics, and domain expertise to generate actionable insights.
            </p>
            <p class="paragraph-text justify-text">
                Beyond my academic and technical pursuits, I’m an avid photographer and badminton player. I find that these activities help me stay sharp, curious, and grounded — they remind me of the importance of perspective, precision, and adaptability, both in life and in research. I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
